@{
    ViewData["Title"] = "Home";
}

<div class="content animate-panel">

    <div class="row">
        <div class="col-lg-12">
            <div class="hpanel">
                <div class="panel-heading">
                    <div class="panel-tools">
                    </div>
                    Home
                </div>
                <div class="panel-body">
                    Page 1
                </div>
            </div>
        </div>
    </div>
</div>