<div id="navigation">
    <div class="profile-picture">
        <a href="index.html">
            <img src="Images/exact.jpg" class="img-circle m-b" alt="logo">
        </a>
        <div class="stats-label text-color">
            @await Html.PartialAsync("_LoginPartial")
        </div>
    </div>

    <ul class="nav metismenu" id="side-menu">
        <li class="@Html.IsSelected(action: "Logger")">
            <a href="@Url.Action("Index", "Logger")">
                <span class="nav-label">Logger</span>
            </a>
        </li>
        @*<li class="@Html.IsSelected(action: "Page2")">
                <a href="@Url.Action("Page2", "Home")"> <span class="nav-label">Page 2</span></a>
            </li>*@
    </ul>
</div>