@{
    Layout = "~/Views/Shared/_Layout_Blank.cshtml";
    ViewData["Title"] = "Forgot Password Confirmation";
}

<div class="register-container">
    <div class="row">
        <div class="col-md-12">
            <div class="text-center m-b-md">
                <h2>@ViewData["Title"].</h2>
                <small></small>
            </div>
            <div class="hpanel">
                <div class="panel-body">
                    <p class="text-center">
                        Please check your email to reset your password.
                    </p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 text-center">
                <strong>CrmHub</strong> - Integrador de CRM's <br /> 2016 Copyright Floripa Software
            </div>
        </div>
    </div>
</div>





