@{
    ViewData["Title"] = "Reset password confirmation";
    Layout = "~/Views/Shared/_Layout_Blank.cshtml";
}

<div class="register-container">
    <div class="row">
        <div class="col-md-12">
            <div class="text-center m-b-md">
                <h3>@ViewData["Title"]</h3>
                <small></small>
            </div>
            <div class="hpanel">
                <div class="panel-body">
                    <p>
                        Your password has been reset. Please <a asp-controller="Account" asp-action="Login">Click here to log in</a>.
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 text-center">
            <strong>CrmHub</strong> - Integrador de CRM's <br /> 2016 Copyright Floripa Software
        </div>
    </div>
</div>
