
<div class="modal fade" id="viewLogger" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="color-line"></div>
            <div class="modal-header">
                <h4 class="modal-title">Detalhes ID: <span data-bind="text: Id"></span></h4>
            </div>
            <div class="modal-body">
                <form role="form" id="viewForm">
                    <input type="hidden" data-bind="value: Id" />
                    <div class="row">
                        <div class="form-group col-sm-3">
                            <label for="logger.Crm">Crm</label>
                            <input id="logger.Crm" type="text" data-bind="value: Crm" class="form-control" readonly>
                        </div>
                        <div class="form-group col-sm-3">
                            <label for="logger.Entity">Entity</label>
                            <input id="logger.Entity" type="text" data-bind="value: Entity" class="form-control" readonly>
                        </div>
                        <div class="form-group col-sm-3">
                            <label for="logger.Method">Method</label>
                            <input id="logger.Method" type="text" data-bind="value: Method" class="form-control" readonly>
                        </div>
                        <div class="form-group col-sm-3">
                            <label for="logger.Type">Status</label>
                            <input id="logger.Type" type="text" data-bind="value: Type" class="form-control" readonly>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-sm-12">
                            <label for="logger.Send">Json Recebido</label>
                            <textarea rows="10" id="logger.Send" data-bind="value: Send, attr: { 'disabled': isDisabled }" class="form-control" style="resize: vertical;font-size: 12px"></textarea>
                            <span data-bind="validationMessage: Send" class="error"></span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-sm-12">
                            <label for="logger.Response">Json Retorno</label>
                            <textarea rows="10" id="logger.Response" data-bind="value: Response" class="form-control" style="resize: vertical; font-size: 12px" readonly></textarea>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
                <button type="button" data-bind="click: submit, attr: { 'disabled': isDisabled }" class="btn btn-primary">Enviar</button>
            </div>
        </div>
    </div>
</div>

